body {
    position: fixed;
    overflow-y: scroll;
    margin: 0;
    background-color: gray;
    padding: 0;
    font-family: helvetica;
}

#main_canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}