body {
    position: fixed;
    overflow-y: scroll;
    margin: 0;
    background-color: gray;
    padding: 0;
    font-family: helvetica;
}

#main_canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}

#container {
    position: relative;
}

#controls {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
}

#info {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    left: 1px;
    top: 1px;
    margin-top: 20%;
}

input {
    margin: 7px;
}

h2 {
    color: dodgerblue;
}

#lights,
#cameras {
    font-style: italic;
}

#texture-drop-down,
select>option {
    background-color: transparent;
    font-weight: bold;
}